.jumbotron .btn {
  /* margin-left: 0.5em; */
  margin-top: 1em;
  margin-bottom: 1em;
}

.btn-toolbar {
  display: inline;
}

.smart-search-input {
  margin-top: 1em;
  margin-bottom: 1em;
}

.jumbotron {
  background-color: #703e91;
}

.ca-text {
  font-size: 2.5rem;
}