@import url("https://fonts.googleapis.com/css?family=Kanit|Mitr|Pridi|Sarabun");

body {
  /* font-family: 'Mitr', sans-serif; */
  /* font-family: 'Sarabun', sans-serif; */
  font-family: "Kanit", sans-serif;
  /* font-family: 'Pridi', serif; */
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.header-text {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.navbar {
  background-color: #563d7c;
}

.thread-pea th {
  background-color: #563d7c;
  color: #fbfbfb;
}

.data-table {
  border-radius: 0.3rem;
  padding: 1em;
  background-color: #fbfbfb;
}

.page-link {
  color: #563d7c;
}

.page-item.active .page-link {
  z-index: 1;
  color: #fff;
  background-color: #563d7c;
  border-color: #563d7c;
}

.col .dropdown {
  margin-bottom: 0.5rem;
}

.pagination {
  margin-bottom: 0;
  /* padding: 0;
  padding-inline-start: 0; */
}

.filterRow {
  margin-bottom: 1rem;
}

.td-tools-button {
  min-width: 8em;
}

.td-tools-button .btn-toolbar > * + * {
  margin-left: 0.3em;
}

.login {
  margin: 0 auto;
}

.custom-control-input:checked ~ .custom-control-label::before {
  color: #fff;
  border-color: #563d7c;
  background-color: #563d7c;
}

.mark,
mark {
  padding: 0em;
}

.pea-color {
  color: #563d7c;
  border-color: #563d7c;
}

.form-button {
  margin-top: 2em;
}

.perPageDropdown {
  display: inline-flex;
  align-items: center;
}

.icon-before-text > * + *,
.perPageDropdown > * + *,
.spinner-margin > * + *,
.btn-toolbar > * + * {
  margin-left: 0.5em;
}

.spinner-border {
  vertical-align: middle;
}

.react-datepicker__header,
.react-datepicker__day--selected,
.react-datepicker__today-button {
  background-color: #563d7c !important;
}

.react-datepicker__today-button {
  color: white;
}

.react-datepicker__current-month,
.react-datepicker__day-name {
  color: white !important;
}

.react-datepicker__day--today {
  background-color: lightgray;
}

.vertical-divider {
  border-right: 1px solid rgba(0, 0, 0, 0.1);
}

.not-found {
  margin-top: 1em;
}
