.home {
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
  position: fixed;
  height: 100%;
  width: 100%;
}

@media (min-width: 900px) {
  .home {
    /* margin: 100px; */
  }
}
